* {
    box-sizing: border-box;
    padding: 5px;
    margin: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
}

.header > input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
}

.kalender {
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
}

.month-year {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.days-name {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.days-name > span {
    width: 30px;
    text-align: center;
}

.container-date {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-date > p {
    width: 46px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}

.container-date > p:hover {
    background-color: bisque;
    border-radius: 50%;
}