img {
    object-fit: cover;
}

.carousel-item h5,
.carousel-item p {
    color : black;
    text-shadow:
    -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white; 
}