body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    padding-top: 10px;
    max-width: 700px;
}

.grid-container-atas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5px;
}

.grid-container-bawah {
    margin-top: 5px;
}

.carousel-container {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    height: 200px;
}

.testimoni-2 {
    border: 2px solid gray; 
    border-radius: 15px;
}

.comment-1 {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.comment-1::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 2.4rem;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1e1e1e;
}

.comment-1:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.foto-dinar {
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    margin-left: 15px;
}

.comment-2 {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
}



.flex-container {
    display: flex;
    padding: 5px;
}

.foto-cimory {
    height: 220px;
    width: 220px;
    border: 1px solid gray;
    border-radius: 15px;
    margin-right: 15px;
}

.comment-3 {
    background-color: #1e1e1e;
    color: white;
    height: 220px;
    border-radius: 15px;
    text-align: left;
    padding: 15px;
}

.star {
    color: #ffd700;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.carousel-testimoni {
    display: flex;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
}

div > img {
    height:60px;
    border-radius: 50%;
}